/* common styles*/
body {
  padding-top: 60px;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6; }

h2 {
  margin-block-end: 1.5rem; }

h3 {
  margin-block-end: 1.5rem; }

p {
  font-weight: 300; }
  p.lead {
    font-weight: 400;
    font-size: 1.1em; }

strong {
  font-weight: 600; }

/* nav */
nav {
  background-color: #222; }

/* header */
header {
  padding: 40px 0; }
  header .page-title {
    font-family: "Alfa Slab One", serif;
    display: flex; }
    header .page-title > div {
      margin: auto; }
  header .title-img {
    width: 100%; }
  header .page-title-text {
    font-size: 3.5rem; }
    @media screen and (max-width: 576px) {
      header .page-title-text {
        font-size: 2.7rem; } }
  header .title-img-container {
    display: flex; }
    header .title-img-container > div {
      margin: auto; }

/* section */
section {
  padding: 60px 0; }
  section::before {
    content: '';
    display: block;
    height: 120px;
    margin-top: -120px;
    width: 1px;
    pointer-events: none; }
  section h2 {
    z-index: 1;
    position: relative;
    display: inline-block; }
  section h2::before {
    content: '';
    background-color: #f5b12a;
    height: 0.5em;
    position: absolute;
    left: -10px;
    width: calc(100% + 20px);
    line-height: 1.6;
    bottom: 0;
    z-index: -1; }
  section.highlight-1 {
    background-color: #3775a2;
    color: white; }
    section.highlight-1 h2::before {
      background-color: #963982; }
  section.highlight-2 {
    background-color: #712b62;
    color: white; }
    section.highlight-2 h2::before {
      background-color: #65ae3d; }

/* events */
#events .speaker-links a {
  margin-right: 20px;
  color: #4a8fc2; }

#events .speaker-img h5 {
  margin-top: 15px; }

#events .speaker-img h5,
#events .speaker-img h6 {
  text-align: center; }

#events .img-box {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }
  #events .img-box::before {
    content: "";
    display: block;
    padding-top: 100%; }
  #events .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.05); }
    #events .img-box img::before {
      content: "";
      display: block;
      padding-top: 100%; }

/*Contact Form*/
#contact-form input,
#contact-form textarea {
  width: 100%; }

#contact-form .alert {
  display: none; }

/* footer */
footer {
  padding: 60px 0;
  background-color: #222;
  color: white; }
  footer a {
    color: white;
    text-decoration: underline; }
  footer .icon {
    padding: 0 10px;
    font-size: 40px; }
